<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <!-- <h3 class="box-title m-b-0">Responsive Table </h3> -->
                <p class="text-muted m-b-20">
                    Data mahasiswa Strata 1 UMS ({{ title_tabel }})
                </p>

                <div class="spinner" v-if="isRequestLoading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>

                <div class="table-responsive" v-else>
                    <table class="table" id="mhs-perangkatan">
                        <thead>
                        <tr>
                            <th rowspan="2">Tahun Akademik</th>
                            <th rowspan="2">Daya Tampung</th>
                            <th rowspan="1" colspan="2">Jumlah Calon Mahasiswa Reguler</th>
                            <th rowspan="1" colspan="2">Jumlah Mahasiswa Baru</th>
                            <th rowspan="1" colspan="2">Jumlah Total Mahasiswa</th>
                            <th rowspan="1" colspan="2">Jumlah Lulusan</th>
                            <th rowspan="1" colspan="3">IPK Lulusan Reguler</th>
                            <th rowspan="1" colspan="3">Presentasi Lulusan Reguler dengan IPK:</th>
                        </tr>
                        <tr>
                            <th>Ikut seleksi</th>
                            <th>Lulus Seleksi</th>
                            <th>Reguler bukan Transfer</th>
                            <th>Transfer</th>
                            <th>Reguler bukan Transfer</th>
                            <th>Transfer</th>
                            <th>Reguler bukan Transfer</th>
                            <th>Transfer</th>
                            <th>Min</th>
                            <th>Rat</th>
                            <th>Max</th>
                            <th>2,75</th>
                            <th>2.75 - 3,50</th>
                            <th>> 3,50</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(data,key,index) in data_mhs_utama">
                            <tr>
                                <td class="year-data">{{tahun_masuk_terpilih-(4-index)}}</td>

                                <td>{{ data.data_tampung }}</td>
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Calon Mahasiswa Reguler Ikut Seleksi', 'masuk', 'ikut_seleksi')">
                                    {{ data.jml_calon_mhs_baru.ikut_seleksi }}
                                </td>
                                <!-- <td>{{ data.jml_calon_mhs_baru.ikut_seleksi }}</td> -->
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Calon Mahasiswa Reguler Lulus Seleksi', 'masuk', 'lulus_seleksi')">
                                    {{ data.jml_calon_mhs_baru.lulus_seleksi }}
                                </td>
                                <!-- <td>{{ data.jml_calon_mhs_baru.lulus_seleksi }}</td> -->
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Baru Reguler Bukan Transfer', 'masuk_mhs', 'reguler')">
                                    {{ data.jml_mhs_baru.reguler }}
                                </td>
                                <!-- <td>{{ data.jml_mhs_baru.reguler }}</td> -->
                                <td v-if="data.jml_mhs_baru.transfer == ''">
                                    {{ data.jml_mhs_baru.transfer }}
                                </td>
                                <td v-else
                                    class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Baru Reguler Transfer', 'masuk_mhs', 'transfer')">
                                    {{ data.jml_mhs_baru.transfer }}
                                </td>
                                <!-- <td>{{ data.jml_mhs_baru.transfer }}</td> -->
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Total Mahasiswa Reguler Bukan Transfer', 'masuk_mhs', 'reguler')">
                                    {{ data.jml_total_mhs.reguler }}
                                </td>
                                <!-- <td>{{ data.jml_total_mhs.reguler }}</td> -->
                                <td v-if="data.jml_total_mhs.transfer  == ''">
                                    {{ data.jml_total_mhs.transfer }}
                                </td>
                                <td v-else
                                    class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Total Mahasiswa Reguler Transfer', 'masuk_mhs', 'transfer')">
                                    {{ data.jml_total_mhs.transfer }}
                                </td>
                                <!-- <td>{{ data.jml_total_mhs.transfer }}</td> -->
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Lulusan Reguler Bukan Transfer', 'lulus', 'reguler')">
                                    {{ data.jml_lulusan.reguler }}
                                </td>
                                <!-- <td>{{ data.jml_lulusan.reguler }}</td> -->
                                <td v-if="data.jml_lulusan.transfer  == ''">
                                    {{ data.jml_lulusan.transfer }}
                                </td>
                                <td v-else
                                    class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Lulusan Reguler Transfer', 'lulus', 'transfer')">
                                    {{ data.jml_lulusan.transfer }}
                                </td>
                                <!-- <td>{{ data.jml_lulusan.transfer }}</td> -->
                                <td>{{ data.ipk_lulusan_reg.min }}</td>
                                <td>{{ data.ipk_lulusan_reg.rat }}</td>
                                <td>{{ data.ipk_lulusan_reg.max }}</td>
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Lulusan dengan IPK < 2,75', 'lulus', '<2,75')">
                                    {{ data.presentase_ipk_lulusan_reg.A }}
                                </td>
                                <!-- <td>{{ data.presentase_ipk_lulusan_reg.A }}</td> -->
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Lulusan dengan IPK 2,75 - 3,50','lulus','2,75-3,5')">
                                    {{ data.presentase_ipk_lulusan_reg.B }}
                                </td>
                                <!-- <td>{{ data.presentase_ipk_lulusan_reg.B }}</td> -->
                                <td class="mhs-data-perangkatan"
                                    @click="tampil_detail(tahun_masuk_terpilih-(4-index),'Mahasiswa Lulusan dengan IPK > 3,50','lulus','>3,5')">
                                    {{ data.presentase_ipk_lulusan_reg.C }}
                                </td>
                                <!-- <td>{{ data.presentase_ipk_lulusan_reg.C }}</td> -->
                            </tr>
                        </template>
                        </tbody>
                    </table>

                </div>
                <br>
                <select class="btn" id="prodi_angkatan">
                    <option selected="">All</option>
                    <option v-for="data in prodi" :value="data.id">
                        {{ data.ket }}
                    </option>

                </select>
                <select class="btn" id="year_angkatan">
                    <template v-for="data in tahun">
                        <option v-if="data === String(tahun_masuk_terpilih)" :value="data" selected>
                            {{data}}
                        </option>
                        <option v-else :value="data">{{data}}</option>
                    </template>
                </select>
                <br>
            </div>
        </div>
        <!-- <popover name="detail" style="width:200px" id="popOverMenu">

            <div class="col-xs-6 detail-popup" @click="showDetailData('Aktif')">
                Aktif
            </div>

            <div class="col-xs-6 detail-popup" @click="showDetailData('Tidak Aktif')" style="white-space: nowrap;">
                Tidak Aktif
            </div>
        </popover> -->


        <!-- sample modal content -->
        <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel_lulus"
             aria-hidden="true" style="display: none;" id="Modal_detail_lulus">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel_lulus">Detail {{ prodi_detail_name }}</h4>
                    </div>
                    <div class="modal-body">
                        <table id="detail_mahasiswa_lulus" class="display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>NIM</th>
                                <th>IPK</th>
                            </tr>
                            </thead>
                            <!-- <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>NIM</th>
                                <th>IPK</th>
                            </tr>
                            </tfoot> -->
                            <tbody>
                            <tr v-for="d in data_mhs_detail">
                                <td>{{ d.nama }}</td>
                                <td>{{ d.nim }}</td>
                                <td>{{ d.ipk }}</td>
                            </tr>
                            <!-- <tr v-for="n in 200">
                                <td>Tiger {{ Math.random().toString(36).substring(7) }}</td>
                                <td>L20014{{n}}</td>
                                <td>3.{{n}}</td>
                            </tr> -->

                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- modal calon mhs masuk -->
        <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel_masuk"
             aria-hidden="true"
             style="display: none;" id="Modal_detail_masuk">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel_masuk">Detail {{ prodi_detail_name }}</h4>
                    </div>
                    <div class="modal-body">
                        <table id="detail_mahasiswa_masuk" class="display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>No Test</th>
                                <th>Nama</th>
                                <th>Asal Sekolah</th>
                            </tr>
                            </thead>
                            <!-- <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>NIM</th>
                                <th>IPK</th>
                            </tr>
                            </tfoot> -->
                            <tbody>
                            <tr v-for="d in data_mhs_detail">
                                <td>{{ d.no_test }}</td>
                                <td>{{ d.nama }}</td>
                                <td>{{ d.asal_sekolah }}</td>
                            </tr>
                            <!--  <tr v-for="n in 200">
                                 <td>{{Math.floor(Math.random() * 100) + 1 + n }}</td>
                                 <td>Nama {{ Math.random().toString(36).substring(7) }}</td>
                                 <td>{{sample_asal_sekolah[Math.floor(Math.random() * 2)]+' '+  Math.random().toString(36).substring(2, 15)}}</td>
                             </tr> -->


                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- end modal mhs masuk -->
        <!-- modal Mhs  -->
        <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel_masuk_mhs"
             aria-hidden="true"
             style="display: none;" id="Modal_detail_masuk_mhs">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel_masuk_mhs">Detail Mahasiswa {{ prodi_detail_name
                            }}</h4>
                    </div>
                    <div class="modal-body">
                        <table id="detail_mahasiswa_masuk_mhs" class="display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>NIM</th>
                                <th>Nama</th>
                                <th>Asal Sekolah</th>
                            </tr>
                            </thead>
                            <!-- <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>NIM</th>
                                <th>IPK</th>
                            </tr>
                            </tfoot> -->
                            <tbody>
                            <tr v-for="d in data_mhs_detail">
                                <td>{{ d.nim }}</td>
                                <td>{{ d.nama }}</td>
                                <td>{{ d.asal_sekolah }}</td>
                            </tr>

                            <!-- <tr v-for="n in 200">
                                <td>L20014{{n}}</td>
                                <td>Nama {{ Math.random().toString(36).substring(7) }}</td>
                                <td>{{sample_asal_sekolah[Math.floor(Math.random() * 2)]}}</td>
                            </tr> -->


                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // Table Data
                title_tabel: ' All ',
                tahun: [],
                prodi: {},
                prodi_detail_name: null,
                tahun_masuk_terpilih: new Date().getFullYear(),
                // jml_mhs: {},

                // Initial Data
                data_mhs_utama: {},
                //data detail dalam modal
                data_mhs_detail: {},


                // set detail data
                angkatan: null,
                prodi_detail_value: null,

                // loading variable
                isRequestLoading: true,
            }
        },
        mounted() {

            $('#prodi_angkatan').on('change', (e => {
                this.filterData();
            }));
            $('#year_angkatan').on('change', (e => {
                this.filterData();
            }));

            $('#detail_mahasiswa_masuk').DataTable();
            $('#detail_mahasiswa_lulus').DataTable();
            $('#detail_mahasiswa_masuk_mhs').DataTable();


        },
        methods: {
            filterData() {
                let formData = {
                    prodi: $('#prodi_angkatan').val(),
                    year: $('#year_angkatan').val(),
                }
                // this.tahun_masuk_terpilih = $('#year_angkatan').val()
                // console.log(formData);
                // console.log();
                this.isRequestLoading = true
                axios.post(AjaxUrl.MhsMasukNLulusFilterData, qs.stringify(formData))
                    .then(response => {
                        this.data_mhs_utama = response.data.result
                        this.tahun_masuk_terpilih = $('#year_angkatan').val()
                        this.title_tabel = $('#prodi_angkatan').find(":selected").text()
                        this.isRequestLoading = false

                    })
            },
            setDetailData(angkatan) {
                // if (tahun_ke >= angkatan) {
                this.prodi_detail_value = $('#prodi_angkatan').val()
                this.angkatan = angkatan
                // }
            },
            showDetailData(value, args, args2) {
                let formData = {
                    prodi: this.prodi_detail_value,
                    angkatan: this.angkatan,
                    // tahun_ke: this.tahun_ke,
                    status_mhs: args, // isi status ada 3 : "masuk", "masuk_mhs", "lulus"
                    detail_status: args2
                }
                this.prodi_detail_name = value + ' ( ' + $("#prodi_angkatan").find(":selected").text() + ' ) | Tahun Akademik ' + this.angkatan
                // console.log(formData);
                // $("#popOverMenu").attr('style', 'display:none');

                // show detail
                // this.issetDetailDataMhs = true

                axios.post(AjaxUrl.MhsMasukNLulusShowDetailData, qs.stringify(formData))
                    .then(response => {
                        if (response.data.success == true) {
                            console.log(response)
                            this.data_mhs_detail = response.data.result
                            // mengatur ulang (reset) datatable dengan cara destroy
                            $('#detail_mahasiswa_masuk').DataTable().destroy();
                            $('#detail_mahasiswa_lulus').DataTable().destroy();
                            $('#detail_mahasiswa_masuk_mhs').DataTable().destroy();

                            // membuat datatable setalah templatae ter-render oleh javascript
                            setTimeout((e => {
                                $('#detail_mahasiswa_masuk').DataTable();
                                $('#detail_mahasiswa_masuk_mhs').DataTable();
                                $('#detail_mahasiswa_lulus').DataTable();

                            }), 100)

                            // show modal
                            if (args == 'masuk') {
                                $('#Modal_detail_masuk').modal('toggle')
                            } else if (args == 'masuk_mhs') {
                                $('#Modal_detail_masuk_mhs').modal('toggle')
                            } else {
                                $('#Modal_detail_lulus').modal('toggle')
                            }
                        }
                    })
                    .catch(error => {
                        this.$toasted.error('<b>' + error + '</b>', {
                            duration: 5000,
                            position: 'top-center',
                            icon: {
                                name: 'fa-times',
                                after: true // this will append the icon to the end of content
                            }
                        })
                    })

            },

            tampil_detail(angkatan, value, args, args2) {
                this.setDetailData(angkatan);
                this.showDetailData(value, args, args2);

            },
        },
        created() {
            this.isRequestLoading = true
            axios.get(AjaxUrl.MhsMasukNLulusInitialData)
                .then(response => {
                    if (response.data.success == true) {
                        this.prodi = response.data.result.prodi
                        this.tahun = response.data.result.year
                        this.data_mhs_utama = response.data.result.table_data

                        this.isRequestLoading = false
                    }
                });
        }

    }
</script>

<style scoped>
    table {
        font-size: 13px;
    }

    .table th {
        text-align: center;
        vertical-align: middle;
    }

    .table td {
        text-align: center;
    }

    .year-data {
        font-weight: bold;
    }

    .mhs-data-perangkatan {
        cursor: pointer;
    }

    .mhs-data-perangkatan:hover {
        background: #343140;
        color: white;
    }

    /*Pop over*/
    .detail-popup {
        cursor: pointer;
        font-size: 14px;
    }

    .detail-popup:hover {
        background: rgb(52, 49, 64);
        color: white;
    }

    div[data-popover="detail"] {
        color: black;
        font-size: 12px;
        line-height: 2.5;
        margin: 0px;
    }
</style>