<template>

  <div class="white-box">
    <div id="appasd">
      <div class="container">
        <div class="Chart__list">
          <div class="Chart">
            <h2>Data</h2>
            <grafik-line :chartData='data_chart' :options='option_chart'></grafik-line>
          </div>
        </div>
      </div>
    </div>
    <div id="head">
        <select class="btn" id="matakuliah">
                    <option selected="" value="%">All</option>
                    <option v-for="data in matakuliah" :value="data.kode">
                        {{ data.nama }}
                    </option>
        </select>
        <select class="btn" id="angkatan">
            <template v-for="data in angkatan">
                <option v-if="data === String(tahun_terpilih)" :value="data" selected>
                    {{data }}
                </option>
                <option v-else :value="data">{{data }}</option>
            </template>
        </select>
    </div>
  </div>
</template>

<script>
import grafikLine from './charts/NilaiAIKChart'
export default {
  name: 'appasd',
  components: {
    'grafik-line' : grafikLine
  },
  data(){
    return{
        data: [],
        matakuliah:[],
        tahun_terpilih:2016,
        angkatan:[],
        datasets:[],
        data_chart:null,
        option_chart:{
            responsive: true, 
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                       stepSize: 5,
                       maxTicksLimit: 3,
                       min:0,
                    }
                }]
            }
        }
    }
  },
  created() {
    axios.get(AjaxUrl.NilaiAIKInitialData)
         .then(response=>{
            if (response.data.success==true) {
            	for (var i = 0; i < response.data.result.data.length; i++) {
            		this.datasets.push({ label: response.data.result.data[i].makul,
            							fill:false, 
            							borderColor: '#'+Math.floor(Math.random()*900) + 100,
            							backgroundColor: '#'+Math.floor(Math.random()*900) + 100,
            							data:response.data.result.data[i].nilai});
            	}
                this.data_chart = {
                  labels: ['< 2,75','2,75 - 3,5', '> 3,5'],
                  datasets: this.datasets
                }
                this.matakuliah=response.data.result.matakuliah
                this.angkatan = response.data.result.angkatan
            }
         })
  },
  mounted() {
    $('#matakuliah').on('change', (e => {
        this.UpdateCharts();
    }));
    $('#angkatan').on('change', (e => {
        this.UpdateCharts();
    }));
  },
  methods:{
    UpdateCharts () {
        let formData={
              matakuliah : $('#matakuliah').val(),
              angkatan : $('#angkatan').val()

        }
        axios.post(AjaxUrl.NilaiAIKFilterData, qs.stringify(formData))
             .then(response=>{             	
             	if (response.data.success==true) {
             		this.datasets=[]
             		for (var i = 0; i < response.data.result.data.length; i++) {
	            		this.datasets.push({ label: response.data.result.data[i].makul,
	            							fill:false, 
	            							borderColor: '#'+Math.floor(Math.random()*900) + 100,
	            							backgroundColor: '#'+Math.floor(Math.random()*900) + 100,
	            							data:response.data.result.data[i].nilai});
	            	}
	                this.data_chart = {
	                  labels: ['< 2,75','2,75 - 3,5', '> 3,5'],
	                  datasets: this.datasets
	                }
             	}
             	
             })
    },
    wow(){
        alert('asd');
    }
  },
}
</script>

<style>
#appasd {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.container {
  max-width: 800px;
  margin:  0 auto;
}
</style>