<template>
    <div>
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title">Pendaftar UMS</h3>
                <div class="table-responsive">
                    <table class="table color-table inverse-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nigam</td>
                            <td>Eichmann</td>
                            <td>@Sonu</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Deshmukh</td>
                            <td>Prohaska</td>
                            <td>@Genelia</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Roshan</td>
                            <td>Rogahn</td>
                            <td>@Hritik</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title">Asal Pendaftar</h3>
                <div class="flot-chart">
                    <div id="sebaran_pendaftar"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [
                        {
                            name: 'IE',
                            y: 56.33
                        },
                        {
                            name: 'Chrome',
                            y: 24.03,
                            sliced: true,
                            selected: true
                        },
                        {
                            name: 'Firefox',
                            y: 10.38
                        },
                        {
                            name: 'Safari',
                            y: 4.77
                        },
                        {
                            name: 'Opera',
                            y: 0.91
                        },
                        {
                            name: 'Other',
                            y: 0.2
                        }
                    ]
                }]
            }
        },
        mounted() {
            Highcharts.chart('sebaran_pendaftar', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Sebaran Pendaftar UMS'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: this.series
            });
        }

    }
</script>