<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <!-- <h3 class="box-title m-b-0">Responsive Table </h3> -->
                <p class="text-muted m-b-20">
                    Data mahasiswa Strata 1 UMS ({{ title_tabel }})
                </p>

                <div class="spinner" v-if="isRequestLoading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>

                <div class="table-responsive" v-else>
                    <table class="table" id="mhs-perangkatan">
                        <thead>
                        <tr>
                            <th rowspan="2">Tahun Masuk</th>
                            <th colspan="7">Jumlah Mahasiswa per Angkatan</th>
                            <th rowspan="2">Jumlah Lulusan</th>
                        </tr>
                        <tr>
                            <template v-for="data in 7">
                                <th>{{tahun_masuk_terpilih-(7-data)}}</th>
                            </template>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(jml,key,index) in data_mhs_utama">
                            <tr>
                                <td class="year-data">{{tahun_masuk_terpilih-(6-index)}}</td>
                                <td v-if="jml.satu"
                                    class="mhs-data-perangkatan"
                                    v-popover="{ name: 'detail' }"
                                    @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-6, (tahun_masuk_terpilih-6).toString()+'1')">
                                    {{ jml.satu }}
                                </td>
                                <td v-else>
                                    {{ jml.satu }}
                                </td>

                                <td v-if="jml.dua"
                                    class="mhs-data-perangkatan"
                                    v-popover="{ name: 'detail' }"
                                    @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-5, (tahun_masuk_terpilih-5).toString()+'1')">
                                    {{ jml.dua }}
                                </td>
                                <td v-else>
                                    {{ jml.dua }}
                                </td>

                                <td v-if="jml.tiga"
                                    class="mhs-data-perangkatan"
                                    v-popover="{ name: 'detail' }"
                                    @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-4, (tahun_masuk_terpilih-4).toString()+'1')">
                                    {{ jml.tiga }}
                                </td>
                                <td v-else>
                                    {{ jml.tiga }}
                                </td>
                                
                                <template v-if="jml.empat">                                    
                                    <td v-if="(tahun_masuk_terpilih-3)-(tahun_masuk_terpilih-(6-index))<3"
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-3, (tahun_masuk_terpilih-3).toString()+'1')">
                                        {{ jml.empat }}
                                    </td>
                                    <td v-else
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-3, (tahun_masuk_terpilih-3).toString()+'2')">
                                        {{ jml.empat }}
                                    </td>
                                </template>
                                <template v-else>
                                    <td>
                                        {{ jml.empat }}
                                    </td>
                                </template>
                                
                                <template v-if="jml.lima">
                                    <td v-if="(tahun_masuk_terpilih-2)-(tahun_masuk_terpilih-(6-index))<3"
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-2, (tahun_masuk_terpilih-2).toString()+'1')">
                                        {{ jml.lima }}
                                    </td>
                                    <td v-else
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-2, (tahun_masuk_terpilih-2).toString()+'2')">
                                        {{ jml.lima }}
                                    </td>                                    
                                </template>
                                <template v-else>
                                    <td>
                                        {{ jml.lima }}
                                    </td>
                                </template>

                                <template v-if="jml.enam">
                                    <td v-if="(tahun_masuk_terpilih-1)-(tahun_masuk_terpilih-(6-index))<3"
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-1, (tahun_masuk_terpilih-1).toString()+'1')">
                                        {{ jml.enam }}
                                    </td>
                                    <td v-else
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-1, (tahun_masuk_terpilih-1).toString()+'2')">
                                        {{ jml.enam }}
                                    </td>                                    
                                </template>
                                <template v-else>
                                    <td>
                                        {{ jml.enam }}
                                    </td>
                                </template>

                                <template v-if="jml.tujuh">
                                    <td v-if="(tahun_masuk_terpilih)-(tahun_masuk_terpilih-(6-index))<3"
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-0, (tahun_masuk_terpilih-0).toString()+'1')">
                                        {{ jml.tujuh }}
                                    </td>
                                    <td v-else
                                        class="mhs-data-perangkatan"
                                        v-popover="{ name: 'detail' }"
                                        @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-0, (tahun_masuk_terpilih-0).toString()+'2')">
                                        {{ jml.tujuh }}
                                    </td>                                    
                                </template>
                                <template v-else>
                                    <td>
                                        {{ jml.tujuh }}
                                    </td>
                                </template>

                                
                                <td v-if="jml.lulus"
                                    class="mhs-data-perangkatan"
                                    v-popover="{ name: 'detail_lulusan' }"
                                    @click="setDetailData(tahun_masuk_terpilih-(6-index), tahun_masuk_terpilih-0, (tahun_masuk_terpilih-0).toString()+'2')">
                                    {{ jml.lulus }}
                                </td>
                                <td v-else>
                                    {{ jml.lulus }}
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>

                <br>
                <select class="btn" id="prodi_angkatan">
                    <option selected="" value="%">All</option>
                    <option v-for="data in prodi" :value="data.id">
                        {{ data.ket }}
                    </option>

                </select>
                <select class="btn" id="year_angkatan">
                    <template v-for="data in tahun_masuk">
                        <option v-if="data === String(tahun_masuk_terpilih)" :value="data" selected>
                            {{data }}
                        </option>
                        <option v-else :value="data">{{data }}</option>
                    </template>
                </select>
                <br>
            </div>
        </div>

        <popover name="detail" style="width:200px" id="popOverMenu">

            <div class="col-xs-6 detail-popup" @click="showDetailData('active')">
                Aktif
            </div>

            <div class="col-xs-6 detail-popup" @click="showDetailData('notacive')" style="white-space: nowrap;">
                Tidak Aktif
            </div>
        </popover>
        <popover name="detail_lulusan" style="width:100px" id="popOverMenuLulusan">

            <div class=" col-xs-12 detail-popup" @click="showDetailLulusan()">
                View
            </div>

            <!-- <div class="col-xs-6 detail-popup" @click="showDetailData('notacive')" style="white-space: nowrap;">
                Tidak Aktif
            </div> -->
        </popover>


        <!-- sample modal content -->
        <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
             style="display: none;" id="myLargeModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Detail Mahasiswa {{ title_modal }}</h4>
                    </div>
                    <div class="modal-body">
                        <table id="detail_mahasiswa" class="display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>NIM</th>
                                <th>IPK</th>
                            </tr>
                            </thead>
                            <!-- <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>NIM</th>
                                <th>IPK</th>
                            </tr>
                            </tfoot> -->
                            <tbody>
                            <!-- <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr> -->
                            <tr v-for="d in data_mhs_detail">
                                <td>{{ d.nama }}</td>
                                <td>{{ d.nim }}</td>
                                <td>{{ d.ipk }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                title_tabel: ' All ',
                title_modal: null,

                // data mahasiswa (tabel utama)
                data_mhs_utama: {},
                // data mahasiswa detail (modal)
                data_mhs_detail: {},

                // list prodi (select option)
                prodi: {},
                // List tahun (select option)
                tahun_masuk: [],

                // set detail data
                angkatan: null,
                semester: null,
                tahun_ke: null,
                prodi_detail_value: null,


                tahun_masuk_terpilih: new Date().getFullYear(),

                // loading variable
                isRequestLoading: true,
            }
        },
        created() {
            this.isRequestLoading = true
            axios.get(AjaxUrl.MhsPerangkatanInitialData)
                .then(response => {
                    if (response.data.success == true) {
                        this.prodi = response.data.result.prodi
                        this.tahun_masuk = response.data.result.year
                        this.data_mhs_utama = response.data.result.table_data
                        console.log(this.data_mhs_utama);

                        this.isRequestLoading = false
                    }
                });
        },
        mounted() {
            $('#prodi_angkatan').on('change', (e => {
                this.filterData();
            }));
            $('#year_angkatan').on('change', (e => {
                this.filterData();
            }));
            $('#detail_mahasiswa').DataTable();
        },
        methods: {
            filterData() {
                let formData = {
                    prodi: $('#prodi_angkatan').val(),
                    year: $('#year_angkatan').val(),
                }
                // console.log(formData);
                // console.log();
                this.isRequestLoading = true
                axios.post(AjaxUrl.MhsPerangkatanFilterData, qs.stringify(formData))
                    .then(response => {
                        this.data_mhs_utama = response.data.result
                        this.tahun_masuk_terpilih = $('#year_angkatan').val()

                        // set title prodi
                        this.title_tabel = $("#prodi_angkatan").find(":selected").text()
                        // hide loading
                        this.isRequestLoading = false
                    })
            },
            // mengatur detail data yang dibutuhkan untuk post pada (showDetailData)
            setDetailData(angkatan, tahun_ke, semester) {
                if (tahun_ke >= angkatan) {
                    this.prodi_detail_value = $('#prodi_angkatan').val()
                    this.angkatan = angkatan
                    this.tahun_ke = tahun_ke
                    this.semester = semester
                }
            },
            showDetailData(value) {
                let formData = {
                    prodi: this.prodi_detail_value,
                    angkatan: this.angkatan,
                    semester: this.semester,
                    mhs_aktif: value
                }
                this.title_modal = $("#prodi_angkatan").find(":selected").text() + ' | Angkatan ' + this.angkatan + ' | Tahun Semester ' + this.tahun_ke + ' | ' + (value == 'active' ? 'Aktif' : 'Tidak Akif')

                console.log(formData);

                axios.post(AjaxUrl.MhsPerangkatanShowDetailData, qs.stringify(formData))
                    .then(response => {
                        if (response.data.success == true) {
                            console.log(response)
                            this.data_mhs_detail = response.data.result
                            // hidden popover
                            $("#popOverMenu").attr('style', 'display:none');
                            // mengatur ulang (reset) datatable dengan cara destroy
                            $('#detail_mahasiswa').DataTable().destroy();
                            // membuat datatable setalah templatae ter-render oleh javascript
                            setTimeout((e => {
                                $('#detail_mahasiswa').DataTable();
                            }), 100)

                            // show modal
                            $('#myLargeModal').modal('toggle')
                        }
                    })
                    .catch(error => {
                        this.$toasted.error('<b>' + error + '</b>', {
                            duration: 5000,
                            position: 'top-center',
                            icon: {
                                name: 'fa-times',
                                after: true // this will append the icon to the end of content
                            }
                        })
                    })

            },
            showDetailLulusan() {
                let formData = {
                    angkatan: this.angkatan,
                    prodi: this.prodi_detail_value
                }
                axios.post(AjaxUrl.MhsPerangkatanShowDetailLulusan, qs.stringify(formData))
                    .then(response => {
                        this.data_mhs_detail = response.data.result
                        this.title_modal = $("#prodi_angkatan").find(":selected").text() + ' | Angkatan ' + this.angkatan
                        // menghilangkan popover setah diklik
                        $("#popOverMenuLulusan").attr('style', 'display:none');
                        // mengatur ulang (reset) datatable dengan cara destroy
                        $('#detail_mahasiswa').DataTable().destroy();
                        // membuat datatable setalah templatae ter-render oleh javascript
                        setTimeout((e => {
                            $('#detail_mahasiswa').DataTable();
                        }), 100)
                        // show modal
                        $('#myLargeModal').modal('toggle')
                    })
            }
        },


    }
</script>

<style scoped>
    .table th {
        text-align: center;
        vertical-align: middle;
    }

    .table td {
        text-align: center;
    }

    .year-data {
        font-weight: bold;
    }

    .mhs-data-perangkatan {
        cursor: pointer;
    }

    .mhs-data-perangkatan:hover {
        background: #343140;
        color: white;
    }

    /*Pop over*/
    .detail-popup {
        cursor: pointer;
        font-size: 14px;
    }

    .detail-popup:hover {
        background: rgb(52, 49, 64);
        color: white;
    }

    div[data-popover="detail"] {
        color: black;
        font-size: 12px;
        line-height: 2.5;
        margin: 0px;
    }
    div[data-popover="detail_lulusan"] {
        color: black;
        font-size: 12px;
        line-height: 2.5;
        margin: 0px;
    }

</style>